<#macro html>
<!DOCTYPE HTML>
<html>
  <head>
    <title>Kirjeldaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap-4.0.0-alpha.5.min.css">
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/js/vendor/validator.min.js"></script>
    <script src="/js/Producer.js"></script>
  </head>
  <body>
    <#nested/>
  </body>
</html>
</#macro>